.pokemonList{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 5%;
    margin-top: 3%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0 45px;
}

@media only screen and (max-width: 768px){
  .pokemonList {
      padding: 0 25px;
  }
}

@media only screen and (max-width: 800px) and (min-width: 500px){
  .pokemonList {
      grid-template-columns: repeat(3,1fr);
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.pokemonList::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.pokemonList {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}