.pokemonCard{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    height: 250px;
    border: 1px dashed #5d5f7e;
    border-radius: 3px;
}

.pokemonImg{
    height: 150px;
    width: 100%;
    max-width: 150px;
    place-self: center;
    background: none;
}

.pokemonLabel, .pokemonId{
    font-family: Roboto;
    color: #2e3156;
    background: none;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    padding-top: 8px;
    text-align: center;
    text-transform: capitalize;
}


@media only screen and (max-width: 800px) and (min-width: 500px){
    .pokemonList {
        grid-template-columns: repeat(3,1fr);
    }
}

