.filterButtonDesktop{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5%;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
}

.div-filter{
  position: relative;
}

@media only screen and (max-width: 768px){
    .filterButtonDesktop{
      display: none;
    }

    .div-filter{
      display: none;
    }
}
