.selectContainer{
    /* max-width: 200px; */
    cursor: pointer;
}

.selectLabel{
    font-family: 'Roboto';
    color: #5d5f7e;
    padding-bottom: 10px;
}

.selectDropdownContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    color: #000;
    width: 100%;
    height: 48px; 
}

.customSelectLabel{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-weight: 300;
    width: 100%;
}

.containerLabel{
    font-family: 'Roboto';
    color: #2e3156;
    font-size: 14px;
    font-weight: 300;
    text-transform: capitalize;
}

.dropdownOptionsContainer{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    max-height: 200px;
    height: 100%;
    overflow: scroll;
    margin-top: 3px;
    padding: 5px;
}

.filterLists{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
    z-index: 2;
}

.filterCheckbox{
    background-color: #fff;
    margin: 8px;
}

.filterLabel{
    font-family: 'Roboto';
    background-color: #fff;
    color: #2e3156;
}

.customHorizontalLine{
    border: 0.1px solid #5d5f7e80;
    margin: 2px;
}


