.searchLabel{
    font-family: 'Roboto';
    color: #5d5f7e;
    padding-bottom: 10px;
}

.searchBox{
    display: flex;
}

.inputBar{
    border: none;
    color: #969baf;
    background-color: #cddce1;
    width: 100%;
    height: 48px;
    border-radius: 5px 0 0 5px;
    padding: 0 15px;
    outline: none;
}

.searchIcon {
    background-color: #cddce1;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    display: grid;
    height: 48px;
    padding: 0 15px;
    place-items: center;
    width: 50px;
}

.icon{
    background-color: #cddce1;
}

@media only screen and (max-width: 768px) {
    .searchLabel{
        display: none;
    }

    .inputBar{
        width: 35vw;
        height: 55px;    
    }
    
    .searchIcon{
        width: 8vw;
        height: 55px;
    }

    .search{
        width: 20vw;
    }
    
}
