.box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    font-size: 15px;
    width: 80px;
    height: 24px;
    border: 1px solid #2e3156;
    border-radius: 3%;
    text-transform: uppercase;
    margin: 5px 5px 5px 0;
    color: #000;
}